@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1630736707980') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxi:before {
  content: "\e643";
}

.icon-erweima1:before {
  content: "\e608";
}

.icon-xunhuan1:before {
  content: "\e610";
}

.icon-dianzan:before {
  content: "\e656";
}

.icon-u36:before {
  content: "\e601";
}

.icon-vcr:before {
  content: "\e642";
}

.icon-xiangshang:before {
  content: "\e641";
}

.icon-shouye:before {
  content: "\e63d";
}

.icon-shouye1:before {
  content: "\e65e";
}

.icon-shoujiduanxin:before {
  content: "\e737";
}

.icon-liuyanjianyi:before {
  content: "\e62c";
}

.icon-shaohouguankan:before {
  content: "\e684";
}

.icon-gengduo:before {
  content: "\e613";
}

.icon-lanqiu:before {
  content: "\ea73";
}

.icon-fenxiang:before {
  content: "\e624";
}

.icon-xiaolian:before {
  content: "\e555";
}

.icon-dianzan1:before {
  content: "\e627";
}

.icon-jd:before {
  content: "\e61f";
}

.icon-lvyou:before {
  content: "\e611";
}

.icon-kouhong:before {
  content: "\e602";
}

.icon-gengduo1:before {
  content: "\e895";
}

.icon-menu-two:before {
  content: "\e60d";
}

.icon-yonghu:before {
  content: "\e685";
}

.icon-faxian:before {
  content: "\e629";
}

.icon-shipin:before {
  content: "\e622";
}

.icon-xiangzuo-copy:before {
  content: "\e512";
}

.icon-zhishi:before {
  content: "\e618";
}

.icon-jiangbei:before {
  content: "\e660";
}

.icon-zhuti:before {
  content: "\e605";
}

.icon-mobile:before {
  content: "\e675";
}

.icon-shipin1:before {
  content: "\e6ca";
}

.icon-guanzhu:before {
  content: "\e686";
}

.icon-weibo:before {
  content: "\e666";
}

.icon-tubiao-:before {
  content: "\e61b";
}

.icon-sousuo:before {
  content: "\e615";
}

.icon-yingshi:before {
  content: "\e62a";
}

.icon-zongyi:before {
  content: "\e609";
}

.icon-meishi:before {
  content: "\e688";
}

.icon-lishi:before {
  content: "\e64e";
}

.icon-lianyiqun:before {
  content: "\e6ba";
}

.icon-xingqiu:before {
  content: "\e802";
}

.icon-faxian1:before {
  content: "\e7dd";
}

.icon-zhankai:before {
  content: "\e654";
}

.icon-dianzan2:before {
  content: "\e603";
}

.icon-biaoqiankuozhan_tuijian-126:before {
  content: "\eaf6";
}

.icon-che-copy:before {
  content: "\e504";
}

.icon-user:before {
  content: "\e614";
}

.icon-weibo1:before {
  content: "\ea8c";
}

.icon-play:before {
  content: "\e664";
}

.icon-category1:before {
  content: "\e50a";
}

.icon-shipin2:before {
  content: "\e7cf";
}

.icon-jingdongicon-:before {
  content: "\e694";
}

.icon-dingdan1:before {
  content: "\e6e6";
}

.icon-mima:before {
  content: "\e7d1";
}

.icon-youxi1:before {
  content: "\e6b0";
}

.icon-yishu:before {
  content: "\e6ad";
}

.icon-dingbu:before {
  content: "\e663";
}

.icon-a-ziyuan8:before {
  content: "\e82a";
}

.icon-jingxi:before {
  content: "\e973";
}

